<h1>Boardsname</h1>
<p>Find me in app/views/users/new.html.erb</p>
<div class="list">
<div class="list_adder btn-area">
    <button class="add-btn adder_btn">+add list1</button>
</div>
your email:<%= @user.email %>
