<h1>Boardsname</h1>
<p>Find me in app/views/users/new.html.erb</p>
<div class="lists">
<div class="list_adder lists-area">
    <button class="add-btn adder-list">+add list1</button>
</div>
your email:<%= @user.email %>
