<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<<<<<<< Updated upstream
ああああああああああああああ
<%= @user.name %>
=======
your email:<%= @user.email %>
<%= image_tag 'Todoz.png' %>
>>>>>>> Stashed changes
