<div class="board-item">
    <div class='board_yield_header header-item board-item'>
        <div class="header-item">
            <h1>Boardsname</h1>
            <input class="board-name-input" aria-label="Boardsname" value="Boardsname">
        </div>
        <div class="header-item">
            <button type="button" class="team">
                Team Visible
            </button>
        </div>
        <div class="header-item">
            <button type="button" class>
                Invite
            </button>
        </div>
    </div>
    <p>Find me in app/views/users/new.html.erb</p>
    <p>your email:<%= @user.email %></p>
    <div class="lists board-item">
        <div class="list_adder lists-area">
            <button class="add-btn adder-list">+add list1</button>
            <= render 'boards/modal' %>
        </div>
    </div>
    <div class="modal-bg">
        <div class="modal">
            <h1 class="card-name-modal">カードの名前</h1>
            <label for="card_name">Name: </label>
            <input type="text" id="new_card_name" placeholder="new card name">
            <button onclick="update_card_name() ">Sub</button>
            <span class="modal-close" onclick="close_modal()"> X </span>
        </div>
    </div>
    <div class="tmp">
        <button class="modal-btn" onclick="show_modal()">modal_test</button>
    </div>
</div>