header {
    width: 100%;
    float: left;
    display: inline;
    background-color: antiquewhite;
}

.header {
    width: 100%;
    margin: 0;
    float: left;
    display: flex;
    background-color: antiquewhite;
}

.header_left {
    padding:0 30% 0 0;
    text-align: center;
    float: left;
    display: flex;
}

.header_right {
    padding:0 0 0 30%;
    float: left;
    display: flex;
}

.header_center {
    padding: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

body {
    background-color: azure;
}

.user_info_button {
    size: 10px;
}

.user_icon {
    width: 60%;
    height: auto;
    border-radius: 100%;
}

.parent a{
    position: absolute; /* ② */
    top: 0; /* ③ */
    left: 0; /* ④ */
    width: 100%; /* ⑤ */
    height: 100%; /* ⑥ */
}

.lists-area {
    display: flex;
}

.list {
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #333333;
}